.playlist {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #33444a;
  margin: 10px 0px;
  color: #dddddd;
  font-size: 20px;
  align-items: center;
  height: 200px;
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

img {
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 200px;
  margin: 10px;
  border: 5px solid #ffffff;
}

.track-count {
  font-size: 20px;
  font-weight: 200;
  margin-top: 10px;
}

.shuffle-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.shuffle-controls > * {
  width: 90%;
}

.shuffled-name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  background-color: #77bbaa;
  color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

button:hover {
  background-color: #88ccbb;
}

input {
  background-color: #dddddd;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  width: 100%;
}